@font-face {
    font-family: "Obidee Sans";
    src: url("../fonts/OdibeeSans-Regular.ttf");
}

@font-face {
    font-family: "Press Start 2P";
    src: url("../fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "Bangers";
    src: url("../fonts/Bangers-Regular.ttf");
}

@font-face {
    font-family: "NotoSans";
    src: url("../fonts/NotoSans-Regular.ttf");
}

:root {
    --heading-font: "Bangers", sans-serif;
    --main-font: "NotoSans", sans-serif;
}