.divider {
    background: linear-gradient(var(--pri-bgcolor), var(--sec-bgcolor));
    height:0.5rem;
    width: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 3.25rem;
    width: 100%;
    background-color: var(--sec-bgcolor);
    font-family: var(--heading-font);
    font-size: 2rem;
    font-variant: small-caps;
    color: var(--pri-bgcolor);
    margin: 0;
}

@media only screen and (max-width:500px) {
    .footer {
        font-size:1.25rem;
    }
}

.paragraph {
    padding-top: .5rem;
    text-align: center;
}