.mainContainer {
    position: relative;
    background-color: var(--pri-bgcolor);
    min-height: 100vh;
    color: var(--pri-fgcolor);
    font-size: 1rem;
}

.contentWrap {
    padding: 0 1rem 3rem 1rem;
    max-width: 800px;
    margin: 1rem auto 0 auto;
}



@media only screen and (max-width: 720px) {
    .contentWrap {
        max-width: 600px;
    }    
}

@media only screen and (max-width: 500px) {
    .contentWrap {
        padding-bottom: 2.25rem;
    }
}